{% extends "learning_logs/base.html" %}
{% block content %}
<div class="mt-5" style="max-width: 420px;">
    <div class="custom-card">
        <h2 class="mb-4 text-center custom-title">Вход</h2>
        {% if form.errors %}
            <div class="alert alert-custom text-center" role="alert">
                Имя пользователя и пароль не совпадают. Попробуйте снова.
            </div>
        {% endif %}
        <form method="post" action="{% url 'users:login' %}">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="invalid-feedback d-block">
                            {{ field.errors|striptags }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <input type="hidden" name="next" value="{% url 'learning_logs:index' %}"/>
            <button type="submit" class="btn btn-custom btn-block">Войти</button>
        </form>
    </div>
</div>
{% endblock content %}
